@font-face {
	font-family: "hobo";
	src: url("../fonts/hobo.ttf");
}

body {
	background-image: url('../pics/stars.bmp');
}

div {
	font-family: "hobo", Arial, "Times New Roman", serif;
	color: aliceblue;
	background-color: black;
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 504px;
	height: 600px;
}

div label {
	font-family: "hobo", Arial, "Times New Roman", serif;
	font-size: larger;
	color: aliceblue;
	background-color: black;
	display: block;
	margin: auto;
	text-align: center;
}

div input {
	font-family: "hobo", Arial, "Times New Roman", serif;
	font-size: larger;
	color: aliceblue;
	background-color: black;
	display: block;
	margin: auto;
}

div button {
	font-family: "hobo", Arial, "Times New Roman", serif;
	font-size: x-large;
	color: aliceblue;
	background-color: black;
	display: block;
	margin: auto;
	vertical-align: middle;
}

div button:hover {
	color: aliceblue;
	background-color: dimgray;
}

canvas {
	background-color: black;
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}